@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700');
$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body,
html,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
  align-self: center
}

.container-self {
  display: flex;
  flex-direction: column;
}

.header-top {
  h1 {
    margin: 1%;
  }
}

.hero-contain {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/veg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  h1,
  p.lead {
    color: #eee;
  }
  h1 {
    font-size: 7em
  }
  p.lead {
    background: none;
    font-weight: bold;
  }
  .btn-contain {
    button {
      background: #4db6ac;
    }
  }
}

@media (max-width: 1200px) {
  .hero-contain {
    h1 {
      font-size: 5em
    }
  }
}

@media (max-width: 1029px) {
  .hero-contain {
    h1 {
      font-size: 5em
    }
  }
}

@media (max-width: 768px) {
  .hero-contain {
    h1 {
      font-size: 3em
    }
  }
}

@media (max-width: 460px) {
  .hero-contain {
    h1 {
      font-size: 2em
    }
  }
}

.customer-segment {
  .navbar {
    margin-bottom: 0;
  }
  .line {
    width: 100vw;
    height: 20px;
    background: #000;
  }
  .list-group {
    width: 20%;
    // height: 100vh;
    button {
      border-radius: 0;
    }
    .last {
      height: 100vh;
    }
  }
}
